.element-hidden {
  display: none;
}

.layout-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto minmax(451.5px, auto) auto;
}

.layout-container header {
  grid-column: 1;
  grid-row: 1;
}

.layout-container main {
  grid-column: 1;
  grid-row: 2;
}

.layout-container footer {
  grid-column: 1;
  grid-row: 3;
}

body {
  font-family: georgia, "droid serif", "Times New Roman", Times, serif;
  font-size: 1rem;
  color: #4e4e4e;
  background-color: white;
}

.ifdsu {
  font-family: fdsu-rwd;
  speak: none;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.off-screen {
  display: block;
  text-indent: -9999px;
  height: 0;
  overflow: hidden;
}
