.uw-logo-wrapper {
  background-color: black;
}

.uw-logo {
  height: 2.688rem;
  width: 100%;
  display: block;
  text-indent: -999rem;
  background: url('https://d8/fdsu1/sites/d8.fdsu1/themes/uw_theme_single_page/images/logos/uwaterloo-logo.svg') 0 50% no-repeat;
  background-size: contain;
  color: black;
}

.uw-logo a:link {
  text-indent: -999rem;
}
