<div class="uw-logo-wrapper">
  {% include "@atoms/01-links/link/link.twig" with {
    "link_base_class": "uw-logo",
    "href": "https://uwaterloo.ca",
    "accesskey": "1",
    "link_content": "University of Waterloo"
  } %}
</div>