.global-menu {
  display: block;
  text-align: center;
  background-color: black;
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  text-transform: uppercase;
  letter-spacing: .045rem;
  font-size: .88889rem;
  margin-top: 1.2rem;
}

.global-menu li {
  display: inline-block;
  padding: 0 0.5rem;
  margin: 0;
  box-sizing: inherit;
}

.global-menu li a {
  color: #fff;
  text-decoration: none;
}

.global-menu li a:hover {
  text-decoration: underline;
}
