<nav class="nav-university" aria-label="university navigation">
  {% embed "@atoms/03-lists/00-ul.twig" with {
  ul_base_class: menu_class,
  ul_modifiers: menu_modifiers,
  ul_blockname: menu_blockname
  } %}
    {% block list_content %}
      {% for item in items.menu_tree %}
        {% include "@molecules/menus/_menu-item.twig" %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</nav>