.uw-footer {
  background-color: black;
  font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
}

.global-footer-menu {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 1rem 0;
  list-style-type: none;
}

.global-footer-menu li:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.global-footer-menu li:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.global-footer-menu li:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

.global-footer-menu li a {
  color: #fff;
  text-decoration: white;
  padding: 0;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.045rem;
  font-size: 0.88889rem;
}

.global-footer-menu li a:hover {
  text-decoration: underline;
}
