footer {
  background-color: #000;
  border: none;
  padding: 0;
  margin-top: 0;
  clear: both;
  position: relative;
}

footer {
  background-color: $uw-black;
}

footer .uw-section--inner {
  max-width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
}

.uw-footer-grid {
  max-width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.uw-footer-grid .footer-1 {
  grid-column: 1;
  grid-row: 1;
}

.uw-footer-flex .footer-2 {
  grid-column: 2;
  grid-row: 1;
}

.uw-footer-flex .footer-3 {
  grid-column: 3;
  grid-row: 1;
}
