<footer class="uw-site-footer">
  <div class="uw-footer-grid">
    <div id="uw-footer-grid-1" class="footer-1">
      {% include "@molecules/contact-info/contact-info.twig" %}
    </div>
    <div id="uw-footer-grid-2" class="footer-2">
      {% include "@molecules/menus/global-footer-menu/global-footer-menu.twig" with {
        "items": items,
        "menu_class": menu_class
      } %}
    </div>
    <div id="uw-footer-grid-3" class="footer-3">
      {% include "@molecules/menus/social-media-menu/social-media-menu.twig" with {
        "social_media": social_media
      } %}
    </div>
  </div>
</footer>
