#uw-header-search-button {
  background-color: black;
}

.uw-header--buttons {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
}

.uw-header--buttons__search {
  display: block;
  border: none;
  text-transform: uppercase;
  text-align: center;
}

a.search-button {
  color: #fff;
  text-decoration: none;
}

a.search-button:hover {
  color: #fdd54f;
}

.fdsu-search-2::before {
  content: "\e1b7";
}

.uw-header--buttons__search a.search-button .ifdsu {
  display: block;
  font-size: 1.26562rem;
}
