.header {
  width: 100%;
  background-color: black;
  padding-top: 0.5rem;
}

#uw-header {
  position: relative;
  background-color: #000;
  min-height: 4.375rem;
  max-width: 63.125rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "BureauGrotCond Book", impact, "avenir next condensed heavy", "Droid Sans", sans-serif;
}

#uw-header-menu-links {
  padding: 0;
  margin: 0;
}

.uw-header-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

.uw-header-grid .header-1 {
  grid-column: 1;
  grid-row: 1;
}

.uw-header-grid .header-2 {
  grid-column: 2;
  grid-row: 1;
}

.uw-header-grid .header-3 {
  grid-column: 3;
  grid-row: 1;
}

.uw-header--content {
  box-sizing: inherit;
}

.uw-header--buttons__search {
  text-transform: uppercase;
}

.uw-header--logo {
  background-color: black;
}

.uw-header-content ul {
  margin-left: 0;
}
