<header class="header" class="uw-header--global">
  <div id="uw-header" class="uw-header-grid">
      <div id="uw-header-logo" class="uw-header--logo header-1">
        {% include "@molecules/uw-logo/uw-logo.twig" %}
      </div>
      <div id="uw-header-menu-links" class="uw-header--menu-links header-2">
        {% include "@molecules/menus/global-header-menu/global-header-menu.twig" with {
          "items": items,
          "menu_class": "global-menu"
        } %}
      </div>
      <div id="uw-header-buttons" class="uw-header--buttons header-3">
        {% include "@molecules/search-button/search-button.twig" %}
      </div>
  </div>
</header>
