{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set items = simplify_menu('uw-menu-global-footer') %}
{% set social_media = simplify_menu('uw-menu-global-social-media') %}

{% include "@organisms/site/site-footer/site-footer.twig" with {
  "items": items,
  "menu_class": "global-footer-menu",
  "social_media": social_media
} %}
