ul.social-media-list {
  li {
    flex: 1;
  }

  list-style-type: none;
  display: flex;
  margin: 0 auto;
  align-items: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 95%;
  padding: 1rem 0;
}

.uw-footer-social-media {
  background-color: black;
}
