<div class="uw-footer-social-media">
  <ul class="social-media-list">
    {% for item in social_media.menu_tree %}
      {% include "@atoms/09-menu/social-media/social-media.twig" with {
        "text": item.text,
        "url": item.url
      }%}
    {% endfor %}
  </ul>
  <div class="uw-footer-social-directory">
    <a href="https://uwaterloo.ca/social-media/">@uwaterloo social directory</a>
  </div>
</div>