<li class="social-media-list-item">
  <a href="{{ url }}" class="social-media-link">
    <i class="ifdsu fdsu-{{ text|lower }} social-media-i"></i>
    <span class="off-screen">{{ text }}</span>
  </a>
</li>