i.fdsu-facebook::before {
  content: "\e909";
}

i.fdsu-twitter::before {
  content: "\e90f";
}

i.fdsu-youtube::before {
  content: "\e912";
}

i.fdsu-instagram::before {
  content: "\e90f";
}

i.fdsu-linkedin::before {
  content: "\e90d";
}

i.fdsu-snapchat::before {
  content: "\e917";
}

i.social-media-i {
  padding: 0.2rem;
  font-size: 2.02729rem;
  border-radius: 3px;
  color: #000;
  background-color: #fff;
}

i.social-media-i:hover {
  color: #ffd54f;
  background-color: black;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

a.social-media-link {
  color: black;
  text-decoration: none;
  background-color: white;
}

a.social-media-link:hover {
  color: #ffd54f;
  text-decoration: none;
  background-color: black;
}

li.social-media-list-item {
  list-style-type: none;
  background-color: black;
  margin: 0;
}
